{% extends 'core/BasePaginaWeb.html' %}
{% load static %}
{% block Contenido %}

        <section class="textos-header">
            <h1>
                Registro Cliente
            </h1>
        </section>

        <div class="ola" style="height: 150px; overflow: hidden;"><svg viewBox="0 0 500 150" preserveAspectRatio="none"
                style="height: 100%; width: 100%;">
                <path d="M-0.00,49.87 C150.00,149.67 349.20,-49.89 500.00,49.87 L500.00,149.67 L-0.00,149.67 Z"
                    style="stroke: none; fill: rgb(255, 255, 255);"></path>
            </svg></div>
    </header>
    <main>

        <div id="contenido">
            <div id="section">
                <form action="" method="POST">
                {% csrf_token %} 
                    <section class="registro-forma">
                        <h4> Registro de Insumos</h4>
                        
                        <input class="txts" type="text" name="nombreUS" id="nombresUS"
                            placeholder="Usuario" required pattern="[A-Za-z]{6,8}"
                            title="solo texto de entre 6 a 8 caracteres">
                        
                        <input class="txts" type="password" name="contraseña" id="contraseñas"
                            placeholder="ingrese contraseña">
                        
                        <p><a href="">has Olvidado tu contraseña</a></p>
                        <input class="boton" type="submit" value="Inicias Sesion">
                    </section>
                </form>
                <div>
                    <h2>{{msg}}</h2>
                </div>
            </div>
        </div>

    </main>
   

{% endblock Contenido %}